page-schedule {
    /*
    Generic Styling, for Desktops/Laptops
    */
    table {
        width: 100%;
        border-collapse: collapse;
    }
    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #CFCFD0;
    }
    th {
        background: #111118;
        color: white;
        font-weight: bold;
        height: 40px;
        font-size: 15px;
    }
    td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }
    .timer {
      text-align: center;
    }
    .timerButton {
        text-align:center;
        margin-top: 20px;
    }
    .timer-selector {
        width: 50px;
    }
}
